@*
    HELP:
        - VS "Autos" debug window helpful. Do you use these?
        - Mod5/9, 4:34 ViewBag title is "sent down"? From controller > Contact.cshmtl > to _Layout?
*@

@{
    ViewBag.Title = "Contact Us";
}
<form method="post">
    <label>Your Name:</label>
    <br />
    <input name="name" />
    <br />
    <label>Email:</label>
    <br />
    <input type="email" name="email" />
    <br />
    <label>Subject:</label>
    <br />
    <input type="text" name="subject" />
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="4" name="message"></textarea>
    <br />
    <input type="submit" value="Send Message" />
</form>